# Production requirements
attrs==24.2.0
dockerflow==2024.4.2
everett==3.3.0
falcon==4.0.1
fillmore==2.1.0
google-cloud-storage==2.18.2
gunicorn==23.0.0
isodate==0.7.2
markus[datadog]==5.0.0
sentry-sdk==2.17.0
google-cloud-pubsub==2.26.1

# Development requirements
bandit==1.7.10
click==8.1.7
freezegun==1.5.1
more-itertools==10.5.0
pip-tools==7.4.1
pytest==8.3.3
requests==2.32.3
ruff==0.7.1
Sphinx==8.1.3
sphinx-rtd-theme==3.0.1
urlwait==1.0
werkzeug==3.0.6
