# Production requirements
boto3==1.15.10
botocore==1.18.18
datadog==0.42.0
dockerflow==2021.7.0
everett==1.0.3
falcon==2.0.0
gevent==21.1.2
gunicorn==20.1.0
isodate==0.6.0
markus==3.0.0
raven==6.10.0

# Development requirements
Sphinx==4.1.2
bandit==1.7.0
black==21.7b0
click==8.0.1
coverage==5.5
flake8==3.9.2
freezegun==1.1.0
more-itertools==8.8.0
pip-tools==6.2.0
pytest-cov==2.12.1
pytest==6.2.4
requests==2.26.0
sphinx-rtd-theme==0.5.2
urlwait==1.0
